.input-default{
    background: #FFFCFC;
    box-sizing: border-box;
    border-radius: 5px !important;
    color: #808080;
    font-size: 14px !important;
}
label{
    font-size: 14px !important;
    color: #808080;
}
.height-3{
    height: 100px !important;
}