.layout-sidebar{
    width: 36px;
    transition: all 0.5s ease;
}
.layout-nomargin{
    margin: 0;
}
.layout-sidebar-collapse{
    width: 160px;
    transition: all 0.5s ease;
}
label{
    margin-bottom: 0px;
}